@model FinalProject.Data.Entities.Timetable

@{
    ViewData["Title"] = "Справка за разписание";
}

<h1 class="text-center">Справка за разписание</h1>

<div>
    <h4>Разписание</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Train)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Train.TrainNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStartStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStartStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinalStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinalStation)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Редактирай</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Върни се към списъка</a>
</div>
