@model FinalProject.Data.Entities.Station

@{
    ViewData["Title"] = "Изтрий гара";
}

<h1 class="text-center">Изтрий гара</h1>

<h3>Искате ли да изтриете тази гара?</h3>
<div>
    <h4>Гара</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TracksCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TracksCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatfromsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatfromsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCashDesk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCashDesk)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary" asp-action="Index">Върни се към списъка</a>
    </form>
</div>
